body {
  font-family: "Helvetica Neue", Helvetica, "Lucida Grande", sans-serif;
}
nav a, nav a:visited, nav a:hover, nav a:active {
  color: black;
  text-decoration: none;
}
.middle-col {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
#svelte-mount {
  width: 100%
}
canvas {
  max-width: 100%;
  border: 1px solid black;
  touch-action: none;
  overflow: auto;
}
fieldset {
  max-width: 800px;
  box-sizing: border-box;
}